<div class="card" id="postid">
  <header class="card-header">
    <a href="/post/{{id}}" style="text-decoration: underline;">
      <div class="card-header-title">
        <p class="title is-size-5 is-link" id="linktitle">{{title}}</p>
      </div>
    </a>
  </header>
  <div class="card-content">
    <p class="subtitle is-size-6" id="postuser">by {{User.username}} at {{format_time created_at}}, {{format_date created_at}}</p>
    <div class="content">
      <p>{{post_text}}</p>
    </div>
  </div>
</div>
